.contacts {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.contacts__address {
    flex-grow: 1;
}

.contacts__tel {
    @include clear-link;
    margin-right: 30px;
    display: block;
}

.contacts__write-us {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: $color-opal;
}

@media (max-width: $tablet-width) {
    .contacts {
        display: none;
    }

    .footer { 
        & .contacts {
        display: block;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

        & .contacts__address,
        & .contacts__tel {
            padding-top: 10px;
            text-align: center;
        }

        & .contacts__write-us {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}