.navigation__list {
    @include clear-list;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__item {
    margin-left: 50px;
    a {
        @include clear-link;
        font-size: 20px;
    }
}

@media (max-width: $tablet-width) {
    .navigation {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 90px;

        background-color: white;

        &--opened {
            display: block;
        }
    }

    .navigation__list {
        flex-direction: column;
    }
    
    .navigation__item {
        margin-left: unset;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;

        & a {
            display: block;
            width: 100%;
        }
    }

    .header.header--fixed .navigation {
        top: 73px;
    }
}