.team {
    padding-top: 120px;
}

.team__header {
    text-align: center;
}

.team__list {
    @include clear-list;
    display: flex;
    justify-content: space-between;
}

.team__item {
    width: 30%;
}

.team__img {
    width: 100%;
}

@media (max-width: $tablet-width) {
    .team__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team__item {
        width: 80%;
    }

    .team__item--main {
        order: -1;
    }
}