@font-face {
    font-family: "CaviarDreams";
    src:
      url("../fonts/CaviarDreams.woff2") format("woff2"),
      url("../fonts/CaviarDreams.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: "CaviarDreams";
    src:
      url("../fonts/CaviarDreams_Bold.woff2") format("woff2"),
      url("../fonts/CaviarDreams_Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: "Balham";
    src:
      url("../fonts/Balham.woff2") format("woff2"),
      url("../fonts/Balham.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }