body {
    font-family: "CaviarDreams", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: $color-black;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
  }