$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;
$max-width: 1600px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* --- colors --- */

$color-opal: #a6bec6;
$color-san-juan: #395b76;
$color-nobel: #b7b7b7;
$color-galery: #eeeeee;
$color-black: #000000;

